<% if false %>

  <h1>User#activation_needed_email</h1>

  <p>
    <%= @greeting %>, find me in app/views/user_mailer/activation_needed_email.html.erb
  </p>

<% end %>






<p>Welcome, <%= @user.name %>!</p>

<p>To login to the site, just follow <%= link_to 'this link', activate_user_url(@user.activation_token) %>.</p>

<p>Thanks for joining and have a great day!</p>
